<title><%= settings.pipotron[:name] %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/custom.css" rel="stylesheet">
<script src="/js/jquery-2.1.1.min.js"></script>

<meta property="fb:app_id" content="<%= settings.fb[:app_id] %>" />
<meta property="og:site_name" content="<%= settings.pipotron[:name] %>" />
<meta property="og:type" content="website" />